* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: Calibri, sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

body {
  padding-top: 60px;
    background: #171313;
    position: relative;
    overflow-x: hidden;
}

#popUp{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
#popUp.active{
    display: block;
}

.popUp-wrap {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 800px;
    background-color: #ffff00;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    border-radius: 15px;
    text-align: center;
    padding-top: 35px;
    font-size: 45px;
    font-weight: 700;
}

.popUp-text {
    padding: 20px 0;
}

.popUpClose {
    width: 15px;
    height: 15px;
}
.popUpClose  span{
    position: absolute;
    width: 100%;
    background: #fff;
    height: 2px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

#first {
    background: url("../img/first-bg.webp");
    background-size: cover;
}

.first__wrap {
    padding: 43px 0 78px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../img/first-city.webp") no-repeat;
    background-position: -500px 220px;
    background-size: 1976px;
}

.first__title {
    color: #ffff00;
    font-size: 46px;
    font-weight: 300;
}

.first__text {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.first__text span {
    font-weight: 700;
}

.first__btns a {
    width: 173px;
    height: 41px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.first__btns button {
    margin-top: 10px;
    background: #ffff00;
    border-radius: 5px;
    border: 0;
width: 145px;

    height: 31px;
}

.first__img img {
  height: 310px;
}
.first__info{
  padding-bottom: 65px;
}
/*MAIN*/

#main {
    background-color: #ffff00;
}


.main__info-nav{
  width: 500px;
  height: 60px;
}

.nav-wrap{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}



.main__wrap {
    padding: 40px 0 50px 0;
}

.main__map-title {
    font-size: 26px;
    font-weight: 400;
}

.main__map-title span {
    font-weight: 700;
}

.main__map-img {
  background: url("../img/map.webp") no-repeat;
position: relative;
width: 500px;
height: 357px;
background-size: 500px;
margin-top: 25px;
}

.main__map-img-aktobe {
    position: absolute;
    left: 120px;
    top: 90px;
}

.main__info {
    max-width: 500px;
    position: relative;
}

.main__info-nav ul {
    list-style: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top: 15px;

}

.main__info-nav ul:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #2b2a29;
    position: absolute;
    bottom: -7px;
}

.main__info-nav a {
    text-decoration: none;
}

.main__info-nav a:hover li:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 6px;
    background-color: #2b2a29;
    position: absolute;
    bottom: -7px;
    left: 0;
}

.main__info-nav a.active li:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 6px;
    background-color: #2b2a29;
    position: absolute;
    bottom: -7px;
    left: 0;
}

#fixedHead .main__info-nav a.active li::after{
  background-color: #000;
}
#fixedHead .main__info-nav a:hover li::after{
  background-color: #000;
}


.main__info-nav a li {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 21px;
}
#fixedHead .main__info-nav {
  background: #ffff00;
  width: 500px;
}
#fixedHead .main__info-nav a li {
  color: #000;
}
#fixedHead .main__info-nav a {
  color: #000;
}
.main__info-nav.tables a li {
    font-size: 28px;
}


.main__supwrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__info-form {
    padding: 20px 25px 20px 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #2b2a29;
}

.main__info-form label {
  margin-left: 10px;
  color:
  #ffff00;
  font-size: 16px;
}

.main__info-form label input {
  background-color:#fff;
  width: 100%;
  height: 45px;
  border: 0;
  margin-bottom: 19px;
  padding-left: 15px;
}

.main__info-form label[for="tel"] input {
    margin-bottom: 0;
}

.main__info-form input[type="submit"] , button {
    cursor: pointer;
    border: 0;
font-size: 16px;
    color: #000;
    background: #ffff00;
    border-radius: 5px;
    font-weight: 700;
    width: 200px;
    height: 30px;
    margin-top: 20px;
}
.btn-wrap{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}


/*       SERVICE          */

#service {
    background: url("../img/service-bg.webp") no-repeat;
    background-size: cover;
}
#vacancies {
  background: url("../img/vakancies.webp") no-repeat;
  background-size: cover;
}

.service-wrap {
padding: 42px 0 65px 0;
}

.service__title {
    font-size: 30px;
    font-weight: 400;
    color: #ffff00;
}

.service__items {
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1.1fr;
    grid-template-columns: 1fr 1fr 1fr 1.1fr;
    height: 100px;
    padding: 30px 0 15px 0;
}

.service__items > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.service__items > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.service__items > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.service__items > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}

.service__items > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.service__items > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.service__items > *:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}

.service__items > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
}

.service__item {
    font-size: 18px;
    color: #fff;
}

.service__item:before {
    content: "";
    display: inline-block;
    width: 6px;
    margin-bottom: 2px;
    margin-right: 2px;
    height: 6px;
    background-color: #ffff00;
    border-radius: 50%;
}

.service__p {
    color: #ffff00;
    font-size: 18px;
    margin-bottom: 15px;
}

.service__natorius {
  position: relative;
    font-size: 16px;
    margin-top: 25px;
    color: #fff
}
.service__natorius img {
  position: absolute;
top: -45px;
left: 240px;
}

.service__natorius img {
    margin-bottom: -10px;
}


/*TABLES*/
#tables {
    background-color: #ffff00;
    padding: 43px 0 60px 0;
}

.tables-course-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}


.table-wrap {
    width: 100%;
    padding: 30px;
    background-color: #2b2a29;
}

.table-wrap:nth-child(2) {
    margin-bottom: 25px;
}

.price-table {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.price-table-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    height: 50px;
    font-size: 18px;
}


.price-table-orange {
    height: 25px;
    color: #ffff00;
    font-size: 16px;
    background-color: #2b2a29;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.price-table-two {
    -ms-grid-columns: 1.7fr 1fr;
    grid-template-columns: 1.7fr 1fr;
}

.table-p {
    font-size: 16px;
    padding: 10px;

    color: #ffff00;
}

.table-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
}

.table-info button, .service__btn {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    outline: 0;
    border: 0;
    background-color: #ffff00;
    padding: 5px 13px;
    cursor: pointer;
    margin: 0;
}

/*           VACANCIES*/


#vacancies .service__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    height: auto;
}

.footer-rigth-sup img {
    height: 77px;
}
.footer-rigth-sup{
    margin-top: 10px;
        height: 40px;
}

footer {
    background: url("../img/footer-bg.webp");
    background-size: cover;
}

.footer-wrap {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 0;
}

.footer-rigth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;;
    width: 260px;
}

.footer-rigth-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main__info-nav.tables{
  width: 300px;
}
.tables-course{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
-webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: flex-end;
}










/*     carts     */







.cards-nav-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

#carts {
    padding: 25px 0;
    background-color: #ffff00;
}

#carts .main__info-nav {
    width: 440px;
    margin-bottom: 25px;
}

/* .carts-letters {
    padding: 45px 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 45px;
    height: auto;
    align-items: center;
} */
.left , .right{
  z-index: 555555555555
}

.carts-letter {
  border: 10px #2b2a29 solid;
    background-color: #ffffff;
    -ms-grid-column-align: center;
        justify-self: center;
}
.carts-letters-cart{
    display: none;
    height: 494px;
}




#mobile-nav{
    display: none;
    width: 100%;
}
.price-table-item-name span {
    font-weight: 700;
    margin-left: 2px;
}
.carts-letter{
    width: 210px;
}



.tables-course{
  width: 100% !important ;
}


.footer-left{
  font-size: 15px;
  font-weight: 700;
}





/////////////////////////Слайдер/////////////////////////////////

.carts-letters{
  overflow: hidden;
}
.carts-letters.carts-letters-letter{
  overflow: hidden;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.carts-letters img {
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}
.carts-letters-wrap{
  position: relative;
  overflow: hidden;
}
.arrows{
  position: absolute;
}

.slide-wrap{
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left{
  left: -1px;
}
.right{
  right: 0px;
}

.carts-letters-wrap svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateX("-50%");
      -ms-transform: translateX("-50%");
          transform: translateX("-50%");
  cursor: pointer;
}

.carts-letter{
  -webkit-transform: translateX("0px");
      -ms-transform: translateX("0px");
          transform: translateX("0px");
  cursor: pointer;
}

#popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;

}

.popupSliderBg{
  background-color: #000;
  z-index: 1;
  opacity: .5;
  width: 100vw;
  height: 100vh;

}

#popup svg {
  z-index: 50;
  top: 50%;
  -webkit-transform: translateX("-50%");
      -ms-transform: translateX("-50%");
          transform: translateX("-50%");
  position: absolute;
  cursor: pointer;
  display: none;
}
#popup img {
  z-index: 999999999;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  height: auto;
}

.slider-left {
  left: 25px;
}
.slider-right{
  right: 25px;
}


.popUp-slide-wrap img{
      width: 10px;
}

.active{
display: block;
}
.burger-wrap{
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
.burger-wrap.active {
  left: 88%;
}
.slick-track{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.carts-letter{
  margin: 50px;
}
.carts-letters img {
      width: 200px;
}
.carts-letters-wrap{
  height: 0;
}
section {
  width: 100vw;
overflow-x: hidden;
}
#fixedHead{
  width: 100vw;
overflow-x: hidden;
background: #ffff00;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
position: fixed;
top: 0;
left: 0;
height: 60px;
z-index: 10;
overflow: hidden;
}
.main__info-nav{
  width: 100%;
}
.tables-course{
  margin-bottom: 25px;
}
.popUp-slide-wrap img {
  width: 410px !important;
  margin: 0;
}
.carts-letter-slideWrap{
  width: 400px
}
/* t */
.imgMob{
  display: none;
}

.fixedHeadWrap  p {
  font-size: 20px;
  font-weight: 700;
}
.fixedHeadWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#fixedHead .main__info-nav ul{
  margin-bottom: 0;
  margin-top: 7px;
}
.footer-rigth-sub-tel{
  font-size: 18px;
font-weight: 700;
}
.footer-rigth-sub-social{
  cursor: pointer;

}
section {
  z-index: 2;
}
#mobileNav{
  display: none;
}
